@tailwind base;
@tailwind components;
@tailwind utilities;

/* Laser rotating border */
@layer utilities {
  .laser-border {
    position: relative;
    z-index: 0;
    overflow: hidden;
    border-radius: 9999px; /* fully rounded */
    padding: 2px;
  }

  .laser-border::before {
    content: "";
    position: absolute;
    inset: -150%;
    background: conic-gradient(from 90deg at 50% 50%, #E2CBFF 0%, #393BB2 50%, #E2CBFF 100%);
    animation: spin 2s linear infinite;
    z-index: -1;
  }

  @keyframes spin {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
}


